<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon App</title>
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            text-align: center;
        }
        #web-page{
            font-family: Georgia; 
            background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
            width: 100vw;
            height: 100vh;

            display: grid;
            align-content: center;
        }
        h1{
            padding-bottom: 50px;
        }
        p{
            color: grey;
            font-style: italic;
        }
        form{
            margin-top: 30px;
            line-height: 0.8in; 
        }
            span{
                margin-right: 10px;
            }
            #name-input{
                line-break: auto;
                padding: 5px;
                font-family: monospace;
            }
            #img-input{
                width: 300px;
                padding: 10px;
                font-family: monospace;
            }
            #submit-button{
                font-family: monospace; 
                background-color: lightgray; 
                border: 2px grey outset; 
                border-radius: 50px; 
                padding: 10px 30px;
                font-size: 15px; 
                cursor: pointer;
            }
            #submit-button:hover{
                background-color: whitesmoke;
            }
        img{
            margin-top: 20px;
            border-radius: 10px;
            border: 2px grey inset;
        }
    </style>
</head>
<body>
    <div id = 'web-page'>
        <h1>New Pokémon Submission Form</h1>
        <p>Fill in the input fields to add to the list shown in the previous page</p>
        <form action='/pokemon' method='POST'>
            <span>Pokémon Name:</span> <input id = 'name-input' type='text' name='name'></input> 
            <br />
            <span>Image of Pokémon:</span> <input id = 'img-input' type='url' name='img' placeholder='.jpg or .png format only'></input>
            <br />
            <input id = 'submit-button' type='submit'></input>
        </form>
    </div>
</body>
</html>